<!doctype html>
<head>
<title>Crontab UI</title>

<script src="jquery-3.1.1.min.js"></script>
<script src="moment-2.15.1.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="cookie.js"></script>
<script src="script.js"></script>

<link rel="stylesheet" href="bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>

<script type="text/javascript">
	var crontab = JSON.parse('<%- JSON.stringify(crontab).replace(/\\/g, '\\\\') %>');
	var checksum = "<%- checksum %>";

	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>

<style type="text/css">
	.cron-actions {
		width: 150px;
	}
	.cron-schedule {
		width: 150px;
	}
	.cron-next {
		width: 150px;
	}
	.cron-action {
		cursor: pointer;
	}
</style>

</head>

<body>
<% include navbar %>

<div class="container">

	<% include alert %>

	<p>
		<a class="btn btn-primary" onclick="newJob();">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			New
		</a>
		<a class="btn btn-success" onclick="reloadCrontab();">
			<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
			Reload
		</a>
	</p>

	<table class="table table-striped" id="main_table">
	<colgroup>
		<col class="cron-command"/>
		<col class="cron-schedule"/>
		<col class="cron-next"/>
		<col class="cron-actions"/>
	</colgroup>
	<thead>
	<tr>
		<!-- <th>ID</th> -->
		<th>Job</th>
		<th>Schedule</th>
		<th>Next</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<% crontab.forEach(function(cron) { %>
		<% if (!cron.stopped) { %>
		<tr>
		<% } else { %>
		<tr class="cron_inactive">
		<% } %>
			<!-- <td><%= cron.id %></td> -->
			<td><code><%= cron.command %></code></td>
			<td><span><%= cron.schedule %></span></td>
			<td><span
				id="next-<%= cron.id %>"
				data-toggle="tooltip" 
				data-placement="bottom" 
				title=""
				style="cursor:pointer">
				</span>
			</td>
			<td class='cron-actions'>
				<% if (!cron.stopped) { %>
				<a class="cron-action" onclick="editJob('<%= cron.id %>')">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					Edit
				</a>
				<% } else { %>
				<a class="cron-action" onclick="startJob('<%= cron.id %>')">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
					Start
				</a>
				<% } %>
				<a class="cron-action" onclick="deleteJob('<%= cron.id %>')">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					Delete
				</a>
			</td>
		</tr>
		<% }); %>

	</tbody>
	</table>
</div>
<% include popup.ejs %>
<script type="text/javascript">
	showCronDates();
	showFlash();
</script>
</body>
</html>
